<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ShopSmart</a>

      <form class="navbar-form navbar-left" method="post" action="/search">
        <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." />
        <button class="btn btn-default" type="submit">Submit</button>
        </div>
      </form>

    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">

         <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
            <ul class="dropdown-menu">  
              <% for(var i = 0; i < categories.length; i++) { %>
                <li>
                  <a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a>
                </li>              
              <% } %>
            </ul>
        </li> 

        <% if(!user) {%>
          <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
            <ul class="dropdown-menu">
              <li><a href="/signup">signup</a></li>
              <li><a href="/login">login</a></li>
              </ul>
          </li>
        <%} else {%>
           <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">profile</a></li>
              <li><a href="/logout">logout</a></li>
              </ul>
            </li>
        <%}%>  

        <% if(user) { %>
          <li>
            <a href="/cart" class="glyphicon glyphicon-shopping-cart">
              <span class="badge"><%= cart %></span>
            </a>
          </li>
        <% } else {%>
          <li>
            <a href="/cart" class="glyphicon glyphicon-shopping-cart">
              <span cllass="badge">0</span>
            </a>
          </li>

        <% } %>

        </ul>


    </div><!--/.navbar-collapse -->
  </div>
</nav>
