<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head -%>
  </head>

  <body>
    <% include ./partials/navbar -%>

    <%- body -%>

    <% include ./partials/footer -%>
    
    <% include ./partials/alljavascript -%>
  </body>
</html>
