<% layout('layout') -%>

<div class="container">
	<h3>
		You are in the about page
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus egestas mi, porta dapibus velit maximus vel. Aenean volutpat arcu ac elementum sagittis.  Aliquam iaculis euismod tellus, eu tincidunt felis hendrerit in.
	</p>
</div>